<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Producto</title>
</head>
<body>
    <h1>Detalle del Producto</h1>
    <p><strong>Código:</strong> {{ producto.pk }}</p>
    <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
    <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
    <p><strong>Referencia:</strong> {{ producto.referencia }}</p>
    <p><strong>Precio:</strong> {{ producto.precio }}</p>
    <p><strong>Stock:</strong> {{ producto.stock }}</p>
    <a href="{% url 'index' %}">Regresar al listado</a>
    <a href="{% url 'producto_update' producto.pk %}">Editar</a>
</body>
</html>